{{!-- If the user wants to see the computer key bindings and the key has one, we should show it --}}
{{#if shouldShowComputerKey}}
  <div class="computer-key-bindings">{{computerKey.keyName}}</div>
{{/if}}

{{!-- Certain notes should display the name of the note to help the user know where they are
  on the keyboard --}}
{{#if shouldShowNoteName}}
  <div class="note-name">{{noteName}}</div>
{{/if}}
