.piano-key {
  $black-key-width-multiplier: 0.58;
  $white-key-max-height: 330px;
  $white-key-min-height: 250px;
  $black-key-height-mulitplier: 0.65;
  $black-key-offset-multiplier: 0.34;
  $white-key-border: solid 2px $black-0;
  $black-key-border: solid 4px $black-0;
  $white-key-padding: 4px;
  $white-key-border-radius: 8px;
  $black-key-border-radius: 4px;
  $end-of-black-key: #4C4D52;
  $side-of-black-key: #191A1C;

  height: $white-key-min-height;
  min-width: $white-key-min-width;
  background-color: $ivory;
  border-radius: 0 0 $white-key-border-radius $white-key-border-radius;
  border: {
    top: $white-key-border;
    right: $white-key-border;
    bottom: $white-key-border;
  }

  // We're using width to change height, because the piano will be in landscape mode
  @media screen and (min-width: $ipad-width) {
    height: $white-key-max-height;
    min-width: $white-key-max-width;
  }

  // We don't want double borders on all, so we'll only do the right borders, but then give the
  // first one a left border
  &:first {
    border-left: $white-key-border;
  }

  // Black key stylings. Need to make it overlay the white key
  &.is-black {
    height: 0px;
    width: 0px;

    // Reset this so it doesn't prevent the gap between keys from closing
    min-width: auto;
    z-index: $z-index-2;

    // Only use the white keys as borders
    border: 0px;

    &:after {
      // Make it appear like it's lifted
      background: linear-gradient(to bottom, $black-ivory 0%, $end-of-black-key 93%, $side-of-black-key 100%);
      border: $black-key-border;
      border-radius: 0 0 $black-key-border-radius $black-key-border-radius;
      content: '';
      width: $white-key-min-width * $black-key-width-multiplier;
      height: $white-key-min-height * $black-key-height-mulitplier;
      display: inline-block;
      position: relative;
      left: -$white-key-min-width * $black-key-offset-multiplier;

      // We're using width to change height, because the piano will be in landscape mode
      @media screen and (min-width: $ipad-width) {
        height: $white-key-max-height * $black-key-height-mulitplier;
        width: $white-key-max-width * $black-key-width-multiplier;
        left: -$white-key-max-width * $black-key-offset-multiplier;
      }
    }

    &.is-playing:after {
      // Make it appear like it's depressed
      box-shadow: inset 0 0 40px 0px $black-0;
      background: linear-gradient(to bottom, $black-ivory 0%, $end-of-black-key 96%, $side-of-black-key 100%);
    }
  }

  &.is-playing {
    // Make the key look like it's pressed
    box-shadow: inset 0 0 50px 0px $black-0;
  }

  // The name of the note (e.g "C4"). Should sit at bottom of the white key
  .note-name {
    position: relative;
    text-align: center;
    top: $white-key-min-height - $white-key-padding - $font-size-3;
    font-family: $sans;
    font-weight: $bold;
    font-size: $font-size-3;
    color: $muted-gray;

    @media screen and (min-width: $ipad-width) {
      top: $white-key-max-height - $white-key-padding - $font-size-3;
    }
  }
}
