.piano-keyboard {
  width: 100%;
  padding: $screen-padding;

  // Rotate the entire app 90deg so that the user knows the app works best in landscape mode
  @media all and (orientation:portrait) {
    transform-origin: left top;
    transform: rotate(-90deg);
    width: 100vh;
    position: absolute;
    top: 100%;
    left: 0;
  }

  .piano-controls {
    // On a narrow screen fill the rest of the screen with the controls
    min-height: $iphone-5-width - $white-key-min-height - ($screen-padding * 2);
    padding-bottom: 4px;

    // Keyboard is underneath controls so we want bottom of controls to be close to keyboard
    display: flex;
    align-items: flex-end;
    justify-content: center;

    .bevel-button {
      min-width: 54px;
      height: 36px;
      margin-right: 4px;
      text-align: center;
    }
  }
}
