.piano-key {
  // How wide black key is proportionate to white key
  $black-key-width-multiplier: 0.58;
  $white-key-max-height: 330px;
  $white-key-min-height: 250px;
  // How tall black key is proportionate to white key
  $black-key-height-mulitplier: 0.65;
  $black-key-min-width: $white-key-min-width * $black-key-width-multiplier;
  $black-key-max-width: $white-key-max-width * $black-key-width-multiplier;
  $black-key-border-size: 4px;
  $black-key-max-offset: (($black-key-max-width + $black-key-border-size * 2) / 2);
  $black-key-min-offset: (($black-key-min-width + $black-key-border-size * 2) / 2);
  $white-key-border: solid 2px $black-0;
  $black-key-border: solid $black-key-border-size $black-0;
  $white-key-padding: 4px;
  $white-key-border-radius: 8px;
  $black-key-border-radius: 4px;
  $key-binding-size: 30px;

  // Make the key relative, so that we can move the key binding hint without affecting the rest
  // of the key
  position: relative;
  height: $white-key-min-height;
  min-width: $white-key-min-width;
  background-color: $ivory;
  border-radius: 0 0 $white-key-border-radius $white-key-border-radius;
  border: {
    top: $white-key-border;
    right: $white-key-border;
    bottom: $white-key-border;
  }

  // Don't let the user select the keys so they don't show context menu or other things
  user-select: none;

  // Turn off the black box that happens on ios when you tap on things
  -webkit-tap-highlight-color: transparent;

  // We're using the device's height, because the piano will be in landscape mode
  @media screen and (min-width: $ipad-height + 1) {
    height: $white-key-max-height;
    min-width: $white-key-max-width;
  }

  // We don't want double borders on all, so we'll only do the right borders, but then give the
  // first one a left border
  &:first {
    border-left: $white-key-border;
  }

  // Black key stylings. Need to make it overlay the white key
  &.is-black {
    height: 0px;
    width: 0px;

    // Reset this so it doesn't prevent the gap between keys from closing
    min-width: auto;
    z-index: $z-index-2;

    // Only use the white keys as borders
    border: 0px;

    &:after {
      // Make it appear like it's lifted
      background: linear-gradient(to bottom, $black-ivory 0%, $black-2 93%, $black-1 100%);
      border: $black-key-border;
      border-radius: 0 0 $black-key-border-radius $black-key-border-radius;
      content: '';
      width: $black-key-min-width;
      height: $white-key-min-height * $black-key-height-mulitplier;
      display: inline-block;
      position: relative;
      left: -$black-key-min-offset;

      // We're using width to change height, because the piano will be in landscape mode
      @media screen and (min-width: $ipad-height + 1) {
        height: $white-key-max-height * $black-key-height-mulitplier;
        width: $black-key-max-width;
        left: -$black-key-max-offset;
      }
    }

    &.is-playing:after {
      // Make it appear like it's depressed
      box-shadow: inset 0 0 40px 0px $black-0;
      background: linear-gradient(to bottom, $black-ivory 0%, $black-2 96%, $black-1 100%);
    }

    // Change positioning of the computer key binding for black keys
    .computer-key-binding {
      left : -($key-binding-size / 2);
      top: 164px;
    }
  }

  &.is-playing {
    // Make the key look like it's pressed
    box-shadow: inset 0 0 50px 0px $black-0;
  }

  // The name of the note (e.g "C4"). Should sit at bottom of the white key
  .note-name {
    position: relative;
    text-align: center;
    top: ($white-key-min-height / 2) - $white-key-padding - ($font-size-3 / 2);
    font-family: $sans;
    font-weight: $bold;
    font-size: $font-size-3;
    color: $muted-gray;

    @media screen and (min-width: $ipad-height + 1) {
      top: ($white-key-max-height / 2) - $white-key-padding - ($font-size-3 / 2);
    }
  }

  // The computer key the note is bound to. Should be on top of the key so the user knows which
  // computer keys to press
  .computer-key-binding {
    position: absolute;
    left: ($white-key-max-width / 2) - ($key-binding-size / 2);
    top: 254px;
    z-index: $z-index-3;
    background-color: $muted-gray;
    color: $ivory;
    border-radius: 4px;
    opacity: 0;
    width: $key-binding-size;
    height: $key-binding-size;

    // Align text vertically and horizontally
    text-align: center;
    line-height: $key-binding-size;

    // Touch screens don't need keyboard help because they can use their fingers, so we'll only
    // show it on bigger screens
    @media screen and (min-width: $ipad-height + 1) {
      opacity: 0.75;
    }
  }
}
